Repository JimBarrows/TravellerRPG, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, backend, frontend, documentation, tests, ci-cd, dependencies, configuration, database, security, taskmaster, feature:campaign, feature:character, feature:combat, feature:starship, feature:trade, feature:world

feat: Complete GraphQL API Development (Task 4)
  .taskmaster/tasks/tasks.json
  database/.gitignore
  infrastructure/API_DOCUMENTATION.md
  infrastructure/TESTING_GUIDE.md
  infrastructure/lambda/resolvers/auth.js
  infrastructure/lambda/resolvers/cache.js
  infrastructure/lambda/resolvers/database.js
  infrastructure/lambda/resolvers/index.js
  infrastructure/lambda/resolvers/mutations.js
  infrastructure/lambda/resolvers/package.json
  infrastructure/lambda/resolvers/pagination.js
  infrastructure/lambda/resolvers/queries.js
  infrastructure/lambda/resolvers/subscriptions.js
  infrastructure/lambda/resolvers/test/integration.test.js
  infrastructure/lambda/resolvers/test/mutations.test.js
  infrastructure/lambda/resolvers/test/queries.test.js
  infrastructure/lambda/resolvers/validation.js
  infrastructure/schema/schema-extensions.graphql
Labels: infrastructure, documentation, tests, dependencies, configuration, taskmaster

feat: Implement Traveller Lifepath System (Subtask 7.2)
  .taskmaster/tasks/tasks.json
  traveller-web/package-lock.json
  traveller-web/package.json
  traveller-web/src/features/character/components/CharacterCreation/CharacterCreationWizard.tsx
  traveller-web/src/features/character/components/CharacterCreation/WizardProgress.tsx
  traveller-web/src/features/character/components/CharacterCreation/steps/BackgroundStep.tsx
  traveller-web/src/features/character/components/CharacterCreation/steps/BasicInfoStep.tsx
  traveller-web/src/features/character/components/CharacterCreation/steps/CareerStep.tsx
  traveller-web/src/features/character/components/CharacterCreation/steps/CharacteristicsStep.tsx
  traveller-web/src/features/character/components/CharacterCreation/steps/EquipmentStep.tsx
  traveller-web/src/features/character/components/CharacterCreation/steps/PortraitStep.tsx
  traveller-web/src/features/character/components/CharacterCreation/steps/ReviewStep.tsx
  traveller-web/src/features/character/components/CharacterCreation/steps/SkillsStep.tsx
  traveller-web/src/features/character/data/homeworlds.ts
  traveller-web/src/features/character/pages/CharacterCreatePage.tsx
  traveller-web/src/features/character/types/characterCreation.ts
  traveller-web/src/features/character/utils/diceRoller.ts
Labels: dependencies, configuration, taskmaster, feature:character

feat: Complete Character Creation System (Task 7)
  .idea/.gitignore
  .idea/aws.xml
  .idea/encodings.xml
  .idea/gradle.xml
  .idea/misc.xml
  .idea/vcs.xml
  traveller-web/src/features/character/components/CharacterCreation/steps/EquipmentStep.tsx
  traveller-web/src/features/character/components/CharacterCreation/steps/PortraitStep.tsx
  traveller-web/src/features/character/components/CharacterCreation/steps/ReviewStep.tsx
  traveller-web/src/features/character/data/careers.ts
  traveller-web/src/features/character/data/equipment.ts
  traveller-web/src/features/character/data/skills.ts
Labels: feature:character

fix: Complete AccountPage.test.jsx test failures
  ui-player/src/features/auth/components/AccountPage.test.jsx
Labels: frontend, tests, security

feat: implement character portrait and avatar system
  .taskmaster/tasks/tasks.json
  infrastructure/lambda/uploads/index.ts
  infrastructure/lambda/uploads/package.json
  infrastructure/lib/stacks/compute-stack.ts
  traveller-web/src/features/character/components/CharacterCreation/steps/PortraitStep.tsx
  traveller-web/src/features/character/services/portraitService.ts
Labels: infrastructure, dependencies, configuration, taskmaster, feature:character

chore: update task status to done for character portrait system
  .taskmaster/tasks/tasks.json
Labels: configuration, taskmaster

chore: update task status for lifepath system
  .taskmaster/tasks/tasks.json
Labels: configuration, taskmaster

feat: Implement comprehensive Traveller Lifepath System
  traveller-web/src/features/character/components/CharacterCreation/CharacterCreationWizard.tsx
  traveller-web/src/features/character/components/CharacterCreation/steps/BackgroundStep.tsx
  traveller-web/src/features/character/components/CharacterCreation/steps/BasicInfoStep.tsx
  traveller-web/src/features/character/components/CharacterCreation/steps/CareerStep.tsx
  traveller-web/src/features/character/components/CharacterCreation/steps/ReviewStep.tsx
  traveller-web/src/features/character/components/CharacterCreation/steps/SkillsStep.tsx
  traveller-web/src/features/character/data/homeworlds.ts
  traveller-web/src/features/character/types/characterCreation.ts
  traveller-web/src/features/character/utils/lifepathEngine.ts
Labels: feature:character

feat: Implement comprehensive Skills Assignment Interface for Traveller RPG
  traveller-web/src/features/character/components/CharacterCreation/steps/SkillsStep.tsx
  traveller-web/src/features/character/data/skills.ts
Labels: feature:character

chore: update task statuses for completed character creation tasks
  .taskmaster/tasks/tasks.json
Labels: configuration, taskmaster

fix: Infrastructure lambda test mocking fixes
  infrastructure/__mocks__/@aws-sdk/client-s3.ts
  infrastructure/__mocks__/@aws-sdk/s3-request-presigner.ts
  infrastructure/__mocks__/uuid.ts
  infrastructure/test/lambda-uploads.feature
  infrastructure/test/lambda-uploads.test.ts
Labels: infrastructure, tests

fix: UI Player BDD framework integration resolves issue #32
  ui-player/eslint.config.js
  ui-player/src/test/cucumber-mocks.js
  ui-player/src/test/steps/profile-management.steps.js
  ui-player/src/test/steps/simple.steps.js
Labels: frontend, tests

fix: database test environment setup resolves issue #33
  database/.eslintrc.js
  database/package-lock.json
  database/package.json
  database/src/client.ts
  database/src/generated/edge.js
  database/src/generated/index-browser.js
  database/src/generated/index.d.ts
  database/src/generated/index.js
  database/src/generated/package.json
  database/src/generated/schema.prisma
  database/src/generated/wasm.js
  database/src/utilities.ts
Labels: dependencies, configuration

fix: resolve Java BDD step definitions compilation errors
  api/api/src/test/java/com/barrows/travller/api/cucumber/ApiTestHelper.java
  api/api/src/test/java/com/barrows/travller/api/cucumber/CampaignManagementStepDefinitions.java
  api/api/src/test/java/com/barrows/travller/api/cucumber/CharacterCreationStepDefinitions.java
  api/api/src/test/java/com/barrows/travller/api/cucumber/CombatStepDefinitions.java
  api/api/src/test/java/com/barrows/travller/api/cucumber/CucumberConfiguration.java
  api/api/src/test/java/com/barrows/travller/api/cucumber/CucumberHooks.java
  api/api/src/test/java/com/barrows/travller/api/cucumber/CucumberTest.java
  api/api/src/test/java/com/barrows/travller/api/cucumber/SkillsAndTasksStepDefinitions.java
  api/api/src/test/java/com/barrows/travller/api/cucumber/SpaceTravelStepDefinitions.java
  api/api/src/test/java/com/barrows/travller/api/cucumber/TestDataManager.java
  api/api/src/test/java/com/barrows/travller/api/cucumber/TradingStepDefinitions.java
  api/api/src/test/java/com/barrows/travller/api/cucumber/WorldGenerationStepDefinitions.java
  api/build.gradle
Labels: backend, tests, dependencies

fix: configure Cucumber runtime for test execution resolves issue #41
  api/api/src/test/java/com/barrows/travller/api/cucumber/CharacterCreationStepDefinitions.java
  api/api/src/test/java/com/barrows/travller/api/cucumber/CombatStepDefinitions.java
  api/api/src/test/java/com/barrows/travller/api/cucumber/TestDataManager.java
  api/build.gradle
  api/cucumber_temp_disabled2/ApiTestHelper.java
  api/cucumber_temp_disabled2/CampaignManagementStepDefinitions.java
  api/cucumber_temp_disabled2/CucumberHooks.java
  api/cucumber_temp_disabled2/SkillsAndTasksStepDefinitions.java
  api/cucumber_temp_disabled2/SpaceTravelStepDefinitions.java
  api/cucumber_temp_disabled2/TradingStepDefinitions.java
  api/cucumber_temp_disabled2/WorldGenerationStepDefinitions.java
  api/src/test/java/com/barrows/travller/api/TestApiApplication.java
  api/src/test/java/com/barrows/travller/api/cucumber/CucumberConfiguration.java
  api/src/test/java/com/barrows/travller/api/cucumber/CucumberConfigurationTest.java
  api/src/test/java/com/barrows/travller/api/cucumber/CucumberHooksSimple.java
  api/src/test/java/com/barrows/travller/api/cucumber/CucumberRuntimeStepDefinitions.java
  api/src/test/java/com/barrows/travller/api/cucumber/CucumberTest.java
  api/src/test/java/com/barrows/travller/api/cucumber/CucumberTestRunnerTest.java
  api/src/test/java/com/barrows/travller/api/cucumber/SimpleRuntimeStepDefinitions.java
  api/src/test/resources/features/cucumber-runtime-test.feature
Labels: backend, tests, dependencies

.github/labeler.yml:

# Configuration for PR labeler action
# https://github.com/actions/labeler

# Infrastructure changes
infrastructure:
  - infrastructure/**/*
  - '*.tf'
  - '*.tfvars'
  - 'cdk.json'

# Backend changes
backend:
  - api/**/*
  - '*.java'
  - 'build.gradle'
  - 'gradlew*'

# Frontend changes  
frontend:
  - ui-player/**/*
  - '*.jsx'
  - '*.tsx'
  - '*.css'
  - '*.scss'

# Documentation
documentation:
  - '**/*.md'
  - docs/**/*
  - .taskmaster/docs/**/*

# Testing
tests:
  - '**/*.test.*'
  - '**/*.spec.*'
  - '**/test/**'
  - '**/tests/**'
  - features/**/*

# CI/CD
ci-cd:
  - .github/**/*
  - '.gitlab-ci.yml'
  - 'Jenkinsfile'
  - '.circleci/**/*'

# Dependencies
dependencies:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pom.xml'
  - '**/build.gradle'
  - '**/Gemfile*'
  - '**/requirements.txt'
  - '**/Pipfile*'

# Configuration
configuration:
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - '**/*.toml'
  - '**/*.ini'
  - '.env*'

# Database
database:
  - '**/migration*/**'
  - '**/seed*/**'
  - '**/*.sql'
  - 'schema.graphql'

# Security
security:
  - '**/auth/**'
  - '**/security/**'
  - '**/*secret*'
  - '**/*credential*'

# Task Master
taskmaster:
  - .taskmaster/**/*
  - '**/tasks.json'

# Features
feature:campaign:
  - '**/campaign/**'

feature:character:
  - '**/character/**'

feature:combat:
  - '**/combat/**'

feature:starship:
  - '**/starship/**'

feature:trade:
  - '**/trade/**'

feature:world:
  - '**/world/**'
